mixin slide
  - console.log(attributes);
  //- -var isMarkdown = (type && type==='markdown') ? true : false;

  section&attributes(attributes)
    if !!attributes['data-markdown']
      script(type="text/template")
        block
    else
      block
