.footer {
  background: var(--color-darkest);
  color: var(--color-lightest);
  padding: 0.5rem 1rem;

  &__credits {
    font-size: 0.75rem;
    font-weight: 100;
    letter-spacing: 0.125em;
    line-height: 1;
    text-transform: uppercase;
  }
}
