.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: 750px) {
    justify-content: flex-start;
  }

  &[aria-hidden="true"] {
    display: none;
  }

  &__link {
    margin: 0.25rem;
  }

  &__image {
    display: block;
    height: 80px;
    width: auto;

    @media (min-width: 750px) {
      height: 120px;
    }
  }
}

.js--lazyload {
  height: 80px;
  min-width: 150px;
  background: color(var(--color-text) alpha(0.05));

  @media (min-width: 750px) {
    height: 120px;
  }

  img {
    opacity: 1;
    transition: 200ms opacity linear;
  }

  &--loading img {
    opacity: 0;
  }
}
