.main {
  padding: 1rem;

  &__tabs {
    display: flex;
    justify-content: center;

    @media (min-width: 750px) {
      justify-content: flex-start;
    }
  }

  &__tab {
    display: block;
    margin-top: 0;
    padding: 0.5rem;
    background: transparent;
    color: var(--color-text);
    font-size: 0.875rem;
    letter-spacing: 0.125rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: background 200ms linear;

    &[aria-selected="true"] {
      background: color(var(--color-text) alpha(0.05));
      color: var(--color-darkest);
      font-weight: 900;
    }
  }
}
