.sidebar {
  padding: 1rem 2rem 5rem;
  background: color(var(--color-text) alpha(0.05));
  font-size: 0.875rem;

  @media (min-width: 750px) {
    min-height: calc(100vh - 115px);
  }

  &__links {
    padding-left: 1.5rem;
  }
}
