.site {
  &__header,
  &__main,
  &__sidebar,
  &__footer {
    margin-top: 0;
  }

  @media (min-width: 750px) {
    display: grid;
    grid-template-areas:
      "head head head"
      "main . sidebar"
      "foot foot foot";
    grid-template-rows: 85px 1fr 30px;
    grid-template-columns: auto  50px 300px;

    &__header {
      grid-area: head;
    }

    &__main {
      grid-area: main;
    }

    &__sidebar {
      grid-area: sidebar;
    }

    &__footer {
      grid-area: foot;
    }
  }
}
